/* Small Mobile Style/Global Styles */

body {
	background-image: url(../Images/Misc/background.jpg);
	margin: 0;
	padding: 0;
}
/*Make dropdown links appear inline*/
ul {
    list-style-type:none;
    margin:0;
    padding:0;
    position: static;
	display: none;
}
/*Create vertical spacing*/
li {
    margin-bottom: 1px;
}

/*Style for menu links*/
li a {
    display:block;
    min-width:160px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-family: fantasy;
    color: #1848aa;
    background: #d9d9d9;
    text-decoration: none;
}
/*Style for dropdown links*/
li:hover ul a {
    background: #f3f3f3;
    color: #1848aa;
    height: 40px;
    line-height: 40px;
}
/*Hide dropdown links until they are needed*/
li ul {
    display: none;
}
/*Make dropdown links vertical*/
li ul li {
    display: block;
    float: none;
}
/*Prevent text wrapping*/
li ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px;
}
/*Display the dropdown on hover*/
ul li a:hover + .hidden, .hidden:hover {
    display: block;
}

/* Style for the h1, h3 and p element inside the Contact us page */
h1 {
	text-align: center;
	font-family: fantasy;
}

h3 {
	font-family: monaco;
	font-weight: bold;
}

p {
	font-family: monaco
}

/* Styling for the Contact us Form where type=text and select ( All the input boxes and the select box for country) */

input[type=text], select {
    width: 100%;
    padding: 0.75em 1.25em;
    margin: 0.5em 0;
    display: inline-block;
    border: 0.0625em solid #ccc;
    border-radius: 0.25em;
    box-sizing: border-box;
}

/* Styling for the submit buttom */

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 0.875em 1.25em;
    margin: 0.5em 0;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
}

/* Sets the text area to be full width */
#form textarea {
	width: 100%;
}

/* Some form styling to limit its size within the main container */
#form {
    padding: 2.5em;
	font-family: monaco;
}

/*Styles for show menu button*/
.show-menu {
    font-family: fantasy;
    text-decoration: none;
    color: #1848aa;
    background: #d9d9d9;
    text-align: center;
    padding: 10px 0;
	display: block;
}
/*Hides checkbox*/
input[type=checkbox]{
    display: none;
}
/*Displays menu when checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}

/*Logo styling*/
#logo {
	text-align: center;
}

/*Container Styling*/
.container {
	background-color: #d9d9d9;
	margin: auto;
	padding: 0.6250em;
	position: relative;
}

/* Slider Container Styling*/
.slider {
	width: 1000px;
	position: relative;
	margin: auto;
}

/* Stops all the images being shown. Images being displayed is then controled within the Javascrip */
.slides {
	display: none;
}

/* Sets the max width for the Images. Meaning it resizes itself on smaller devices. Up to its max width of 1000px */
img.slideimg {
	width: 100%;
	height: 30%;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fadeinout;
  -webkit-animation-duration: 10s;
  animation-name: fadeinout;
  animation-duration: 10s;
}

@-webkit-keyframes fadeinout {
  0%,100% {opacity: 0}
  50% {opacity: 1}
}

@keyframes fadeinout {
  0%,100% {opacity: 0}
  50% {opacity: 1}
}

/* Sets width of Review image links to 100% so it fills the screen */
.reviewimg {
	width: 100%;
}

.reviews {
	border: 0.2px solid #bfbfbf
}

/* Styling for the text undernear the Review images */
.desc {
	font-family: monaco;
	font-weight: bold;
	text-align: center;
	padding: 15px;
	color: #000;
}

/* Medium Size Style */
@media screen and (min-width: 580px) {
/*Centers Menu Position*/
ul {
	display: flex;
	justify-content: center;
	
}
/*Create a horizontal list*/
li {
    display:inline-block;
    float: left;
    margin-right: 1px;
	font-size: 18px;
}
	
/*Hover state for menu links*/
li:hover a {
    background: #666666;
	color: #fff
}
/*Hover state for dropdown links*/
li:hover ul a:hover {
    background: #666666;
    color: #fff;
}

/* Show menu button hidden on larger displays */
.show-menu {
	display: none;
}

/*Container max size for larger screen*/
.container {
	max-width: 1024px;
}

/* Styles the images to be horizontal when on larger displays */
.reviews {
	display: inline-block;
	width: 24.5%;
	margin-top: 10px;
}

.reviews:hover {
	border: 0.2px solid #000
}

/* Adds a bluring hover state to games with no review. To indicate that there is no review. */
img#noreview:hover {
	-webkit-filter: blur(4px);
	filter: blue(4px);
}

/* Hover style for Submit button on Contact Us form */
input[type=submit]:hover {
    background-color: #45a049;
}

}





/* Desktop Size Styles */
@media screen and (min-width: 1000px) {

li {
	font-size: 20px;
}

}