/* Small Mobile Style/Global Styles */

	/* Style for menu links */
	li a {
		display: block;
		min-width: 140px;
		height: 25px;
		line-height: 25px;		
		padding: 10px 10px 10px 10px;
		text-align: center;
		text-decoration: none;
		font-size: 20px;
		font-family: fantasy;
		background: #bfbfbf;
		color: #1848aa;	
	}

	/* Style for dropdown links */
	li:hover ul a {
		background: #f2f2f2;
		min-width: 120px;
		height: 40px;
		line-height: 40px;
	}

	/* Hides dropdown links */
	li ul {
		display: none;
	}

	/* Makes dropdown links vertical */
	li ul li {
		display: block;
		float: none;
	}

	/* Prevents Text Wrapping */
	li ul li a {
		width: auto;
		min-width: 100px;
		padding: 0 20px;
	}

	/*Display the dropdown on hover*/
	ul li a:hover + .hidden, .hidden:hover {
		display: block;
	}
	
	ul li, li a {
		width: 100%;
	}

/* Medium Size Style */
@media screen and (min-width: 500px) {
	body {
	color: #ff0000;
	}
	
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		position: absolute;
	}
	
	/* Creates a horizontal list */
	li { 
		display: inline-block;
		float: left;
		margin-right: 1px;
	}
	
	/* Hover Style for top level links */
	li:hover a {
		background-color: #b3b3b3;
	}

	/* Hover Style for dropdown links */
	li:hover ul a:hover {
		background-color: #b3b3b3;
	}

}


/* Desktop Size Styles */
@media screen and (min-width: 1000px) {
	
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		position: absolute;
	}
	
	/* Creates a horizontal list */
	li { 
		display: inline-block;
		float: left;
		margin-right: 1px;
	}
	
	/* Hover Style for top level links */
	li:hover a {
		background-color: #b3b3b3;
	}

	/* Hover Style for dropdown links */
	li:hover ul a:hover {
		background-color: #b3b3b3;
	}
	
}